* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 24px 156px;
  max-width: 1128px;
  font-family: Arial, sans-serif;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 20px;
}

li {
  list-style: none;
}

.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.05);
}
